Using TensorFlow backend.

In [6]:
from google.colab import files
uploaded = files.upload()

Saving text_emotion.csv to text_emotion.csv

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv('text_emotion.csv')

In [51]:
data.head()

     tweet_id  ...                                            content
0  1956967341  ...  @tiffanylue i know  i was listenin to bad habi...
1  1956967666  ...  Layin n bed with a headache  ughhhh...waitin o...
2  1956967696  ...                Funeral ceremony...gloomy friday...
3  1956967789  ...               wants to hang out with friends SOON!
4  1956968416  ...  @dannycastillo We want to trade with someone w...

[5 rows x 4 columns]

In [52]:
data1 = data.drop(['tweet_id', 'author'], axis=1)
data1

        sentiment                                            content
0           empty  @tiffanylue i know  i was listenin to bad habi...
1         sadness  Layin n bed with a headache  ughhhh...waitin o...
2         sadness                Funeral ceremony...gloomy friday...
3      enthusiasm               wants to hang out with friends SOON!
4         neutral  @dannycastillo We want to trade with someone w...
...           ...                                                ...
39995     neutral                                   @JohnLloydTaylor
39996        love                     Happy Mothers Day  All my love
39997        love  Happy Mother's Day to all the mommies out ther...
39998   happiness  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...
39999        love  @mopedronin bullet train from tokyo    the gf ...

[40000 rows x 2 columns]

In [53]:
data1.sentiment.value_counts()

neutral       8638
worry         8459
happiness     5209
sadness       5165
love          3842
surprise      2187
fun           1776
relief        1526
hate          1323
empty          827
enthusiasm     759
boredom        179
anger          110
Name: sentiment, dtype: int64

In [54]:
from sklearn import preprocessing
import pandas as pd
le = preprocessing.LabelEncoder()
le1 = le.fit(data1['sentiment'])
data1['sentiment'] = le1.transform(data1['sentiment']) 
data1

       sentiment                                            content
0              2  @tiffanylue i know  i was listenin to bad habi...
1             10  Layin n bed with a headache  ughhhh...waitin o...
2             10                Funeral ceremony...gloomy friday...
3              3               wants to hang out with friends SOON!
4              8  @dannycastillo We want to trade with someone w...
...          ...                                                ...
39995          8                                   @JohnLloydTaylor
39996          7                     Happy Mothers Day  All my love
39997          7  Happy Mother's Day to all the mommies out ther...
39998          5  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...
39999          7  @mopedronin bullet train from tokyo    the gf ...

[40000 rows x 2 columns]

In [55]:
data1.shape

(40000, 2)

In [56]:
data1.sentiment.value_counts()

8     8638
12    8459
5     5209
10    5165
7     3842
11    2187
4     1776
9     1526
6     1323
2      827
3      759
1      179
0      110
Name: sentiment, dtype: int64

In [0]:
#Remove punctuation using regaX
import re
import string  
def remove_punct(content):
    content_nopunct = ''
    content_nopunct = re.sub('['+string.punctuation+']', '', content)
    return content_nopunct
data1['Content_Clean'] = data1['content'].apply(lambda x: remove_punct(x))

In [60]:
import nltk
nltk.download('punkt')
from nltk import word_tokenize
tokens = [word_tokenize(sen) for sen in data1.Content_Clean]

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [0]:
def lower_token(tokens): 
    return [w.lower() for w in tokens]    
    
lower_tokens = [lower_token(token) for token in tokens]

In [64]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

stoplist = stopwords.words('english')

def removeStopWords(tokens): 
    return [word for word in tokens if word not in stoplist]
filtered_words = [removeStopWords(sen) for sen in lower_tokens]
data1['Content_Final'] = [' '.join(sen) for sen in filtered_words]
data1['tokens'] = filtered_words

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [65]:
data1['tokens']

0        [tiffanylue, know, listenin, bad, habit, earli...
1            [layin, n, bed, headache, ughhhhwaitin, call]
2                        [funeral, ceremonygloomy, friday]
3                             [wants, hang, friends, soon]
4        [dannycastillo, want, trade, someone, houston,...
                               ...
39995                                    [johnlloydtaylor]
39996                          [happy, mothers, day, love]
39997    [happy, mothers, day, mommies, woman, man, lon...
39998    [niariley, wassup, beautiful, follow, peep, ne...
39999    [mopedronin, bullet, train, tokyo, gf, visitin...
Name: tokens, Length: 40000, dtype: object

In [0]:
neutral = []
worry = []
happiness = []
sadness = []
love = []
surprise = []
fun = []
relief = []
hate = []
empty = []
enthusiasm  = []
boredom = []
anger = []
for l in data.Label:
    if l == 0:
        pos.append(0)
        neg.append(1)
    elif l == 1:
        pos.append(1)
        neg.append(0)
data['Pos']= pos
data['Neg']= neg

data = data[['Text_Final', 'tokens', 'Label', 'Pos', 'Neg']]
data.head()

In [0]:
import numpy as np
from sklearn.model_selection import train_test_split
data_train, data_test = train_test_split(data1, 
                                         test_size=0.3, 
                                         random_state=42)

In [79]:
all_training_words = [word for tokens in data_train['tokens'] for word in tokens]
training_sentence_lengths = [len(tokens) for tokens in data_train["tokens"]]
TRAINING_VOCAB = sorted(list(set(all_training_words)))
print("%s words total, with a vocabulary size of %s" % (len(all_training_words), len(TRAINING_VOCAB)))
print("Max sentence length is %s" % max(training_sentence_lengths))

220492 words total, with a vocabulary size of 41457
Max sentence length is 25

In [84]:
all_test_words = [word for tokens in data_test['tokens'] for word in tokens]
test_sentence_lengths = [len(tokens) for tokens in data_test['tokens']]
TEST_VOCAB = sorted(list(set(all_test_words)))
print('%s words total, with a vocabulary size of %s' % (len(all_test_words), len(TEST_VOCAB)))
print('Max sentence length is %s' % max(test_sentence_lengths))

93974 words total, with a vocabulary size of 22111
Max sentence length is 26

In [86]:
import gensim.downloader as api
path = api.load("word2vec-google-news-300", return_path=True)
print(path)

[=================================================-] 99.7% 1657.4/1662.8MB downloaded
/root/gensim-data/word2vec-google-news-300/word2vec-google-news-300.gz

In [87]:
word2vec_path = path
word2vec = models.KeyedVectors.load_word2vec_format(word2vec_path, binary=True)

/usr/local/lib/python3.6/dist-packages/smart_open/smart_open_lib.py:402: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [0]:
def get_average_word2vec(tokens_list, vector, generate_missing=False, k=300):
    if len(tokens_list)<1:
        return np.zeros(k)
    if generate_missing:
        vectorized = [vector[word] if word in vector else np.random.rand(k) for word in tokens_list]
    else:
        vectorized = [vector[word] if word in vector else np.zeros(k) for word in tokens_list]
    length = len(vectorized)
    summed = np.sum(vectorized, axis=0)
    averaged = np.divide(summed, length)
    return averaged

def get_word2vec_embeddings(vectors, clean_comments, generate_missing=False):
    embeddings = clean_comments['tokens'].apply(lambda x: get_average_word2vec(x, vectors, 
                                                                                generate_missing=generate_missing))
    return list(embeddings)

In [0]:
training_embeddings = get_word2vec_embeddings(word2vec, data_train, generate_missing=True)

In [0]:
MAX_SEQUENCE_LENGTH = 50
EMBEDDING_DIM = 300

In [99]:
tokenizer = Tokenizer(num_words=len(TRAINING_VOCAB), lower=True, char_level=False)
tokenizer.fit_on_texts(data_train["Content_Final"].tolist())
training_sequences = tokenizer.texts_to_sequences(data_train["Content_Final"].tolist())

train_word_index = tokenizer.word_index
print('Found %s unique tokens.' % len(train_word_index))

Found 41451 unique tokens.

In [0]:
train_cnn_data = pad_sequences(training_sequences, maxlen=MAX_SEQUENCE_LENGTH)

In [102]:
train_embedding_weights = np.zeros((len(train_word_index)+1, EMBEDDING_DIM))
for word,index in train_word_index.items():
    train_embedding_weights[index,:] = word2vec[word] if word in word2vec else np.random.rand(EMBEDDING_DIM)
print(train_embedding_weights.shape)

(41452, 300)

In [0]:
test_sequences = tokenizer.texts_to_sequences(data_test["Content_Final"].tolist())
test_cnn_data = pad_sequences(test_sequences, maxlen=MAX_SEQUENCE_LENGTH)

In [0]:
def ConvNet(embeddings, max_sequence_length, num_words, embedding_dim, labels_index):
 
    embedding_layer = Embedding(num_words,
                            embedding_dim,
                            weights=[embeddings],
                            input_length=max_sequence_length,
                            trainable=False)
    
    sequence_input = Input(shape=(max_sequence_length,), dtype='int32')
    embedded_sequences = embedding_layer(sequence_input)
    convs = []
    filter_sizes = [2,3,4,5,6]
    for filter_size in filter_sizes:
        l_conv = Conv1D(filters=200, 
                        kernel_size=filter_size, 
                        activation='relu')(embedded_sequences)
        l_pool = GlobalMaxPooling1D()(l_conv)
        convs.append(l_pool)
    l_merge = concatenate(convs, axis=1)
    x = Dropout(0.1)(l_merge)  
    x = Dense(128, activation='relu')(x)
    x = Dropout(0.2)(x)
    preds = Dense(labels_index, activation='sigmoid')(x)
    model = Model(sequence_input, preds)
    model.compile(loss='binary_crossentropy',
                  optimizer='adam',
                  metrics=['acc'])
    model.summary()
    return model

In [147]:
model = ConvNet(train_embedding_weights, 
                MAX_SEQUENCE_LENGTH, 
                len(train_word_index)+1, 
                EMBEDDING_DIM, 
                len(list(data1['sentiment'])))

Model: "model_2"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_2 (InputLayer)            (None, 50)           0
__________________________________________________________________________________________________
embedding_2 (Embedding)         (None, 50, 300)      12435600    input_2[0][0]
__________________________________________________________________________________________________
conv1d_6 (Conv1D)               (None, 49, 200)      120200      embedding_2[0][0]
__________________________________________________________________________________________________
conv1d_7 (Conv1D)               (None, 48, 200)      180200      embedding_2[0][0]
__________________________________________________________________________________________________
conv1d_8 (Conv1D)               (None, 47, 200)      240200      embedding_2[0][0]
__________________________________________________________________________________________________
conv1d_9 (Conv1D)               (None, 46, 200)      300200      embedding_2[0][0]
__________________________________________________________________________________________________
conv1d_10 (Conv1D)              (None, 45, 200)      360200      embedding_2[0][0]
__________________________________________________________________________________________________
global_max_pooling1d_6 (GlobalM (None, 200)          0           conv1d_6[0][0]
__________________________________________________________________________________________________
global_max_pooling1d_7 (GlobalM (None, 200)          0           conv1d_7[0][0]
__________________________________________________________________________________________________
global_max_pooling1d_8 (GlobalM (None, 200)          0           conv1d_8[0][0]
__________________________________________________________________________________________________
global_max_pooling1d_9 (GlobalM (None, 200)          0           conv1d_9[0][0]
__________________________________________________________________________________________________
global_max_pooling1d_10 (Global (None, 200)          0           conv1d_10[0][0]
__________________________________________________________________________________________________
concatenate_2 (Concatenate)     (None, 1000)         0           global_max_pooling1d_6[0][0]
                                                                 global_max_pooling1d_7[0][0]
                                                                 global_max_pooling1d_8[0][0]
                                                                 global_max_pooling1d_9[0][0]
                                                                 global_max_pooling1d_10[0][0]
__________________________________________________________________________________________________
dropout_3 (Dropout)             (None, 1000)         0           concatenate_2[0][0]
__________________________________________________________________________________________________
dense_3 (Dense)                 (None, 128)          128128      dropout_3[0][0]
__________________________________________________________________________________________________
dropout_4 (Dropout)             (None, 128)          0           dense_3[0][0]
__________________________________________________________________________________________________
dense_4 (Dense)                 (None, 40000)        5160000     dropout_4[0][0]
==================================================================================================
Total params: 18,924,728
Trainable params: 6,489,128
Non-trainable params: 12,435,600
__________________________________________________________________________________________________